.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  padding-top: 60px;

  @include m-600 {
    padding-top: 40px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-wrapper {
    width: 100px;
    height: 45px;
    display: block;

    overflow: hidden;

    text-decoration: none;

    @include m-600 {
      width: 75px;
      height: 30px;
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: contain;
    }
  }

  .header__link {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;

    @include m-600 {
      font-size: 16px;
      line-height: 19px;
    }
  }
}
