.steps {
  padding-top: 150px;

  @include m-600 {
    padding-top: 70px;
  }

  .steps__title {
    max-width: 400px;

    font-weight: 700;
    font-size: 36px;
    line-height: 150.02%;
    color: #272727;

    @include m-600 {
      max-width: 230px;

      font-size: 20px;
    }

    span {
      color: #0015CE;
    }
  }

  .steps-list {
    display: flex;
    margin-top: 100px;

    @include m-1230 {
      flex-wrap: wrap;
      margin-top: 40px;
    }

    @include m-600 {
      margin-top: 30px;
    }

    .steps-list__item {
      width: calc((100% - 180px) / 4);
      margin-right: 60px;
      height: 330px;
      padding: 30px;

      background: #F9F9F9;

      @include m-1230 {
        width: calc((100% - 60px) / 2);
        margin-top: 60px;
        height: 250px;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      @include m-600 {
        width: 100%;
        margin-right: 0;
        height: 180px;
        margin-top: 20px;
      }

      &:last-child {
        margin-right: 0;

        background: #0015CE;

        .steps-list__number,
        .steps-list__text {
          color: #FFFFFF;
        }
      }
    }

    .steps-list__number {
      font-weight: 700;
      font-size: 20px;
      line-height: 150.02%;
      color: #0015CE;

      @include m-600 {
        font-size: 16px;
      }
    }

    .steps-list__text {
      margin-top: 80px;

      font-weight: 500;
      font-size: 18px;
      line-height: 150.02%;
      color: #272727;

      @include m-600 {
        margin-top: 30px;

        font-size: 16px;
      }
    }
  }
}
