.footer {
  padding: 200px 0 50px;

  @include m-600 {
    padding-top: 100px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;

    @include m-900 {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  .wrapper {
    flex-basis: calc((100% - 180px) / 4);
    margin-right: 60px;
    display: flex;
    align-items: center;

    @include m-900 {
      order: 1;
      margin-top: 100px;
      margin-right: 0;
    }

    @include m-600 {
      width: 100%;
      margin-top: 85px;
    }
  }

  .logo-wrapper {
    width: 100px;
    height: 40px;
    display: block;

    overflow: hidden;

    text-decoration: none;

    @include m-900 {
      margin: 0 auto;
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: contain;
    }
  }

  .footer__text {
    display: none;

    font-weight: bold;
    font-size: 20px;
    line-height: 150.02%;
    color: #000000;

    @include m-900 {
      display: block;
    }
  }

  .address-link {
    flex-basis: calc((100% - 180px) / 4);
    margin-right: 60px;

    font-weight: 500;
    font-size: 18px;
    line-height: 150.02%;
    color: #666666;
    text-decoration: none;

    @include m-900 {
      margin-right: 0;
      margin-top: 40px;

      &:nth-of-type(1) {
        margin-top: 50px;
      }
    }

    @include m-600 {
      margin-top: 20px;
      font-weight: 400;

      &:nth-of-type(1) {
        margin-top: 30px;
      }
    }

    span {
      margin-top: 15px;
      display: block;

      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #000000;

      @include m-600 {
        margin-top: 10px;
      }
    }
  }

  .socials-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: calc((100% - 180px) / 4);

    @include m-900 {
      order: 1;
      justify-content: center;
      margin-top: 50px;
    }

    @include m-600 {
      margin-top: 30px;
    }

    .socials-list__item {
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }
    }

    .socials-list__link {
      position: relative;

      width: 30px;
      height: 30px;
      display: block;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 30px;
        height: 30px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &.socials-list__link--insta {

        &::before {
          background-image: url("../img/svg/insta-icon.svg");
        }
      }

      &.socials-list__link--fb {

        &::before {
          background-image: url("../img/svg/fb-icon.svg");
        }
      }

      &.socials-list__link--yt {

        &::before {
          background-image: url("../img/svg/yt-icon.svg");
        }
      }
    }
  }

  .politics-link {
    width: 100%;
    margin-top: 50px;

    @include m-900 {
      order: 1;
    }

    @include m-600 {
      margin-top: 30px;
    }

    font-weight: 500;
    font-size: 14px;
    line-height: 150.02%;
    color: #ACACAC;
    text-align: center;
  }
}
